<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>

<!-- 
Some markers

###BETSET_ROUND_NAME### - name of bet round

###BETSET_MATCH_TRENDHOME### - bet count for winning home team
###BETSET_MATCH_TRENDHOMEP### - bet count for winning home team in percent
###BETSET_MATCH_TRENDDRAW### - bet count for draw match
###BETSET_MATCH_TRENDDRAWP### - bet count for draw match in percent
###BETSET_MATCH_TRENDGUEST### - bet count for winning guest team
###BETSET_MATCH_TRENDGUESTP### - bet count for winning guest team in percent

Please note: this templates is not indented to be used as it is. In a common bet game
you will have several pages with bet list. Each will be created with a special html template.

 -->

###BETLIST###

<!-- ###BETSET_SAVED### -->
<p>###LABEL_BETS_SAVED### ###LABEL_CHANGED_BETS###: ###SAVECOUNT###</p>
<!-- ###BETSET_SAVED### -->


###BETSETS###
<div class="t3sbet">
<form action="###ACTION_URI###" method="POST">
###BETSET###
<h2>###BETSET_ROUND_NAME###</h2>

###BETSET_TEAMBETS###
<h3>###LABEL_SPECIALBET###:</h3>
###BETSET_TEAMBET###
<b>###BETSET_TEAMBET_QUESTION###</b><br />

<!-- ###BETSTATUS_CLOSED### -->
<p>
###LABEL_YOUR_BET###: ###BETSET_TEAMBET_BET_TEAM_NAME###<br />
<b>###BETSET_TEAMBET_BET_DCPOINTS###</b> <br />
</p>
<!-- ###BETSTATUS_CLOSED### -->

<!-- ###BETSTATUS_OPEN### -->
###BETSET_TEAMBET_TEAMS###
<select name="betset[###BETSET_UID###][teambet][###BETSET_TEAMBET_UID###][###BETSET_TEAMBET_BET_UID###]">
###BETSET_TEAMBET_TEAM###
<option ###BETSET_TEAMBET_TEAM_CURRENTBET### value="###BETSET_TEAMBET_TEAM_UID###">###BETSET_TEAMBET_TEAM_NAME###</option>
###BETSET_TEAMBET_TEAM###
</select>
###BETSET_TEAMBET_TEAMS###
<p>
###LABEL_POSSIBLE_POINTS_FOR_BET###: ###BETSET_TEAMBET_BET_DCPOSSIBLEPOINTS###<br />
###LABEL_POSSIBLE_POINTS_FOR_NEWBET###: ###BETSET_TEAMBET_POINTS### <br />
###LABEL_OPEN_UNTIL###: ###BETSET_TEAMBET_OPENUNTILTSTAMP###
</p>
<!-- ###BETSTATUS_OPEN### -->


<br />
###BETSET_TEAMBET###
###BETSET_TEAMBETS###

###BETSET_MATCHS###
<table cellspacing="0">
<tr><th>###LABEL_MATCHDATE###</th><th>###LABEL_HOME###</th><th></th><th>###LABEL_GUEST###</th><th>###LABEL_SCORE###</th><th style="width:100px">###LABEL_BET###</th><th>###LABEL_POINTS###</th>

###BETSET_MATCH###
<tr class="t3sbet-row###BETSET_MATCH_ROLL###">
<td colspan="6">###LABEL_AGEGROUP###: ###BETSET_MATCH_COMPETITION_GROUP_NAME### ###BETSET_MATCH_REPORTLINK###Zum Spielbericht###BETSET_MATCH_REPORTLINK###</td>
</tr>
<tr class="t3sbet-row###BETSET_MATCH_ROLL###">
<td>###BETSET_MATCH_DATE###</td><td>###BETSET_MATCH_HOME_NAME###</td><td>-</td><td>###BETSET_MATCH_GUEST_NAME###</td>
<td>
<!-- ###RESULT_STATUS_0### Ergebnis vor dem Spiel -->
- : -
<!-- ###RESULT_STATUS_0### Ergebnis vor dem Spiel -->

<!-- ###RESULT_STATUS_-10### Ergebnis bei Spielverlegung -->
verlegt
<!-- ###RESULT_STATUS_-10### Ergebnis bei Spielverlegung -->

<!-- ###RESULT_STATUS_1### Ergebnis während des Spiels -->
###BETSET_MATCH_GOALS_HOME### : ###BETSET_MATCH_GOALS_GUEST###
<!-- ###RESULT_STATUS_1### Ergebnis während des Spiels -->

<!-- ###RESULT_STATUS_2### Ergebnis nach Spielende -->
###BETSET_MATCH_GOALS_HOME### : ###BETSET_MATCH_GOALS_GUEST###
<!-- ###RESULT_STATUS_2### Ergebnis nach Spielende -->
</td>




<td>
<!-- ###BETSTATUS_OPEN### -->
<input type="text" name="betset[###BETSET_UID###][###BETSET_MATCH_UID###][###BETSET_MATCH_BET_UID###][home]" size="1" maxlength="2" value="###BETSET_MATCH_BET_GOALS_HOME###" />
:<input type="text" name="betset[###BETSET_UID###][###BETSET_MATCH_UID###][###BETSET_MATCH_BET_UID###][guest]" size="1" maxlength="2" value="###BETSET_MATCH_BET_GOALS_GUEST###" />
<!-- ###BETSTATUS_OPEN### -->

<!-- ###BETSTATUS_CLOSED### -->
###BETSET_MATCH_BET_GOALS_HOME### : ###BETSET_MATCH_BET_GOALS_GUEST### 
<!-- ###BETSTATUS_CLOSED### -->

<!-- ###BETSTATUS_FINISHED### -->
###BETSET_MATCH_BET_GOALS_HOME### : ###BETSET_MATCH_BET_GOALS_GUEST### 
<!-- ###BETSTATUS_FINISHED### -->
</td>

<td>###BETSET_MATCH_BET_POINTS###</td>
</tr>
<tr class="t3sbet-row###BETSET_MATCH_ROLL###">
	<td colspan="5">###LABEL_TREND### (1-0-2): ###BETSET_MATCH_TRENDHOMEP### - ###BETSET_MATCH_TRENDDRAWP### - ###BETSET_MATCH_TRENDGUESTP###</td>
</tr>
###BETSET_MATCH###
</table>
###BETSET_MATCHS###

###BETSET###

###SAVEBUTTON###<input type="submit" value="###LABEL_SAVEBETS###">###SAVEBUTTON###

###LOGINMESSAGE###
<div>###LABEL_LOGIN###</div>
###LOGINMESSAGE###

</form>
</div>
###BETSETS###

###BETLIST###


</body>
</html>