<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Highscorelist</title>
</head>
<body>


###HIGHSCORE###
<div class="t3sbet">
<h3>###LABEL_HIGHSCORES###</h3>


###CURRUSER###
<p>Hallo ###CURRUSER_NAME###, du hast derzeit ###CURRUSER_BETPOINTS### Punkte und liegst auf Position ###CURRUSER_BETRANK###.</p>
###CURRUSER###

###FEUSERS###
<table cellspacing="0">
<tr><th>###LABEL_RANK###</th> <th>###LABEL_NAME###</th><th>###LABEL_POINTS###</th></tr>
###FEUSER###
<tr class="t3sbet-user###FEUSER_BETMARK### t3sbet-row###FEUSER_ROLL###">
<td>###FEUSER_BETRANK###.</td><td>###FEUSER_USERNAME###</td><td> ###FEUSER_BETPOINTS###</td>
</tr>
###FEUSER###

</table>

<!-- ###PAGEBROWSER### -->
<div class="t3users-pagebrowser">
###PAGEBROWSER_CURRENT_PAGE###
###LABEL_PAGE### ###PAGEBROWSER_CURRENT_PAGE_NUMBER###
###PAGEBROWSER_CURRENT_PAGE###

###PAGEBROWSER_NORMAL_PAGE###
###PAGEBROWSER_NORMAL_PAGE_LINK######LABEL_PAGE### ###PAGEBROWSER_NORMAL_PAGE_NUMBER### ###PAGEBROWSER_NORMAL_PAGE_LINK###
###PAGEBROWSER_NORMAL_PAGE###

###PAGEBROWSER_PREV_PAGE###
&nbsp;###PAGEBROWSER_PREV_PAGE_LINK###<###PAGEBROWSER_PREV_PAGE_LINK###&nbsp;
###PAGEBROWSER_PREV_PAGE###

###PAGEBROWSER_NEXT_PAGE###
&nbsp;###PAGEBROWSER_NEXT_PAGE_LINK###>###PAGEBROWSER_NEXT_PAGE_LINK###&nbsp;
###PAGEBROWSER_NEXT_PAGE###

###PAGEBROWSER_FIRST_PAGE###
###PAGEBROWSER_FIRST_PAGE_LINK### |< ###PAGEBROWSER_FIRST_PAGE_LINK###
###PAGEBROWSER_FIRST_PAGE###

###PAGEBROWSER_LAST_PAGE###
###PAGEBROWSER_LAST_PAGE_LINK### >| ###PAGEBROWSER_LAST_PAGE_LINK###
###PAGEBROWSER_LAST_PAGE###

</div>
<!-- ###PAGEBROWSER### -->

###FEUSERS###

</div>
###HIGHSCORE###


</body>
</html>